* {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c8edb1fa;
    margin: 0;
    padding: 0;
}

.index {
    width: 1300px;
    position: relative;
    left: calc(50% - 650px);
    border-radius: 10px;
}

.header-style {
    flex: 2;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e7e7e7;
}

.header-style .shouye-back {
    position: relative;
    left: 50px;
    font-size: 15px;
}

.header-style .demo-logo {
    background-image: url("../../../public/imgs/LOGO.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: relative;
    top: 4px;
    user-select: none;
    float: left;
}

.header-style .search {
    position: relative;
    left: calc(50% - 400px);
}

.header-style .login-but {
    display: inline-block;
    position: absolute;
    right: 10px;
    border: 0px;
}

.header-style .ava-popo {
    position: absolute;
    right: 30px;
    border: 0px;
}

.model {
    z-index: 99;
    position: absolute;
    left: 0px;
}

.model .mask {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: rgba(189, 186, 186, 0.575);
    opacity: 0.5;
}

.huanyipi {
    margin-top: 5px;
    position: relative;
    left: 615px;
}
