.loginBox{
    width: 600px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 300px); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px;
    border-radius: 10px;
}

.loginBox:hover{
    box-shadow: 10px 5px 5px rgb(177, 175, 175);
}

.login-form {
    width: 400px;
}

.site-form-item-icon{
    height: 40px;
}

.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}

.input-up{
    user-select: none;
}