.dynamic-div {
    width: 700px;
    min-width: 500px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
    background-color: white;
}

.dynamic-head {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 90px;
    margin-left: 20px;
}

.dynamic-avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 15px;
}


.dynamic-nickname {
    position: absolute;
    left: 80px;
    top: 15px;
    font-weight: 600;
}

.dynamic-describe {
    position: absolute;
    left: 80px;
    top: 45px;
    font-weight: 50;
}

.dynamic-body {
    display: inline-block;
    position: relative;
    left: 50px;

}

.dynamic-tag {
    position: relative;
    top: -10px;
}

.dynamic-content {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    width: 400px;
    margin-bottom: 5px;
}

.dynamic-bottom {
    padding-bottom: 10px;
}

.dynamic-button {
    margin-left: 150px;
}

.dynamic-comment {
    background-color: white;
    padding: 5px;
    overflow: hidden;
    height: 0px;
    border-radius: 6px;
    margin-left: 20px;
}

.dynamic-guanzhu {
    position: absolute;
    top: 20px;
    left: 580px;
}