.content {
    position: absolute;
    top: 60px;
    left: -32px;
    width: 120px;
    height: 200px;
    background-color: white;
    border-radius: 6px;
    border: solid 0.01px rgba(226, 226, 226, 0.616);
}

.ava-nickName {
    color: #52c41a;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.ava-img {
    z-index: 3;
    transition: all 0.5s;
}

.ava-button-1 {
    position: absolute;
    top: 50px;
}

.ava-button-2 {
    position: absolute;
    top: 80px;
}

.ava-button-3 {
    position: absolute;
    top: 110px;
}