.forget-div {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 60px;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forget-link {
    position: relative;
    left: 150px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}