& {
    user-select: none;
}

.Pubcom-div {
    margin-left: 10px;
    width: 600px;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.Pubcom-but {
    transition: transform 0.5s;
    transform: translateY(-32px);
}

.Pubcom-upload {
    display: flex;

}

.Pubcom-upload-img {
    display: inline-block;
}

.Pubcom-upload-video {
    display: inline-block;
}

.Pubcom-upload-music {
    display: inline-block;
}

.Pubcom-input {
    float: right;
}