& {
    user-select: none;
}

.sign-box {
    width: 630px;
    height: 640px;
    position: absolute;
    top: calc(50% - 320px);
    left: calc(50% - 315px);
    border-radius: 6px;
}

.pure-color {
    width: 300px;
    height: 640px;
    float: left;
    background-color: #00b96b;
    border-radius: 6px;
}

.sign-demo-logo {
    background-image: url("../../imgs/whwhlin.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    user-select: none;
    position: relative;
    top: 50px;
    left: 50px;
}

.toHome {
    margin-left: 50px;
}