.header-style {
  flex: 2;
  position: sticky;
  top: 0;
  zIndex: 1;
  width: '100%';
  display: flex;
  align-items: center;
  alignItems: 'center';
  background-color: #f6ffed;
}

.header-style .demo-logo {
  background-image: url("../../imgs/LOGO.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  user-select: none;
  float: left;
}

.header-style .login-but {
  display: inline-block;
  position: absolute;
  right: 10px;
  border: 0px;
}

.model {
  position: absolute;
  display: inline-block;
  height: 99%;
  width: 99%;
}

.model .mask {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(189, 186, 186, 0.575);
  opacity: 0.5;
}
