& {
    user-select: none;
}

.Pubdyn-div{
    margin-left: 20px;
    width: 700px;
}

.Pubdyn-upload-img{
    display: block;
}

.Pubdyn-upload-video {
    display: inline-block;
}

.Pubdyn-upload-music {
    display: inline-block;
}

.Pubdyn-input {
    float: right;
}