.App{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox{
    width: 700px;
    height: 500px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 350px); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px;
    border-radius: 10px;
}

.loginBox:hover{
    box-shadow: 10px 5px 5px rgb(177, 175, 175);
}

.login-form {
    width: 400px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}