.header-style {
  flex: 2;
  position: sticky;
  top: 0;
  z-index: 1;
  width: '100%';
  display: flex;
  align-items: center;
  background-color: #f6ffed;

  .demo-logo {
    background-image: url('../../imgs/LOGO.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    user-select: none;
    float: left;
  }

  .ava-popo {
    position: absolute;
    right: 30px;
    border: 0px;
  }

  .toHome {
    margin-left: 50px;
    color: black;
  }
}

