#music-player {
    position: relative;
    max-width: 600px;
    height: 45px;
    width: 450px;
    border-radius: 6px;
    background-color: #f4fdeffa;
    padding-left: 15px;
}

#progress {
    position: absolute;
    top: 20px;
    height: 4px;
}

.progress-bar {
    position: absolute;
    top: 2px;
    background-color: aquamarine;
    max-width: 400px;
    height: 4px;
    z-index: 1;
}

.progress-back {
    position: absolute;
    top: 2px;
    background-color: rgb(172, 172, 172);
    width: 400px;
    height: 4px;
}

.progress-but {
    position: absolute;
    top: -1px;
    background-color: #52c41a;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    z-index: 2;
}

.player-but {
    position: absolute;
    top: 7px;
    left: 415px;
}

.time {
    position: absolute;
    top: 25px;
    height: 10px;
    font-size: 14px;
}